/* Style Normalizing */

html{
    font-size: 62.5%;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav-bar */

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: papayawhip;
    height: 60px;
    width: 100%;
}

.nav-bar a {
    color: plum;
    font-size: 2rem;
    text-decoration: none;
}

.nav-bar a:hover {
    border: dashed;
    border-radius: 10px;
    color:  #2e86c1;
    font-size: 2.2rem;
    padding: 1rem;
}

.logo {
    height: 50px;
    width: 50px;
    background-color: pink;
    border-radius: 50%;
    margin: 5px;
    position: absolute;
}

/* Main content */

body {
    background-color: #d4e6f1;
}

.figure {
    height: 250px;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 15px auto;
    min-width: 200px;
    max-width: 250px;
    position: relative;
}

.red {
    background-color: indianred;
    border-radius: 15px;
    width: 110px;
    height: 140px;
    z-index: 2;
    position: absolute;
    left: 15%;
    top: 20%
}

.blue {
    background-color: #2e86c1;
    border-radius: 15px;
    width: 110px;
    height: 140px;
    z-index: 1;
    position: absolute;
    left: 35%;
    top: 12%
}

.yellow {
    background-color: gold;
    border-radius: 15px;
    width: 110px;
    height: 140px;
    z-index: 3;
    position: absolute;
        left: 25%;
        top: 30%;
}

.message {
    font-size: 4rem;
    text-align: center;
}

article {
    background-color: white;
    border-radius: 15px;
    border: 0.2rem solid;
    margin: 10px auto;
    width: 80vw;
    min-width: 250px;
    max-width: 600px;
}

article p {
    color: darkblue;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 15px;
}

.article_image {
    background-color: papayawhip;
    border-radius: 15%;
    margin: 15px auto 0;
    height: 200px;
    width: 200px;
}

/* Footer */

footer {
    border-top: dashed;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 1.4rem;
    background-color:  #e8daef;
    height: 5rem;
}

footer > p {
    margin-right: 5%;
}

.social_icon {
    background-color: #aed6f1;
    border-radius: 35%;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 1.3rem;
        font-weight: 800;
    height: 25px;
    width: 25px;
    margin: 0 5% 0;
}

.social_icon:hover {
    background-color:  #DAF7A6;
}